<p id="notice"><%= notice %></p>

<h1>Posts</h1>
  <% @posts.each do |post| %>
    <div>
      <h1><%= post.title %></h1>
      <p><%= post.body %></p>
      <div>
        <p><%= link_to 'Show', post_comments_path(post) %></p>
        <p><%= link_to 'Edit', edit_post_path(post) %></p>
        <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
    <hr>
  <% end %>


<%= link_to 'New Post', new_post_path %>
